<div class="login-form-wrapper" *ngIf="exerciseForm">
  <mat-card class="login-card">
    <mat-card-title>Add new exercise</mat-card-title>
    <form [formGroup]="exerciseForm" (ngSubmit)="edit()">
      <div class="input-fields">
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            placeholder="exercise Name:"
            formControlName="name"
          />
          <mat-error
            *ngIf="
              exerciseForm.controls?.name?.touched &&
              exerciseForm.controls?.name?.errors
            "
            ><div *ngIf="exerciseForm.controls?.name?.errors?.required">
              Exercise name is required.
            </div>
            <div
              *ngIf="
                exerciseForm.controls?.name?.errors?.minLength ||
                exerciseForm.controls?.name?.errors?.maxLength
              "
            >
              Exercise name must be between 3 and 20 characters
            </div></mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <textarea
            matInput
            placeholder="exercise Description:"
            formControlName="description"
          ></textarea>
          <mat-error
            *ngIf="
              exerciseForm.controls?.description?.touched &&
              exerciseForm.controls?.description?.errors
            "
          >
            <div *ngIf="exerciseForm.controls?.description?.errors?.required">
              Exercise description is required.
            </div>
            <div
              *ngIf="
                exerciseForm.controls?.description?.errors?.minLength ||
                exerciseForm.controls?.description?.errors?.maxLength
              "
            >
              Exercise description must be between 50 and 600 characters
            </div></mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="exercise level"
            formControlName="exerciseLevel"
          >
            <mat-option
              *ngFor="let key of exerciseLevelsKeys"
              value="{{ key }}"
              >{{ exerciseLevels[key] }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="
              exerciseForm.controls?.exerciseLevel?.touched &&
              exerciseForm.controls?.exerciseLevel?.errors
            "
            ><div
              *ngIf="exerciseForm.controls?.exerciseLevel?.errors?.required"
            >
              Exersise Level should be selected.
            </div></mat-error
          >
        </mat-form-field>
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            placeholder="add url with image of the exercise"
            formControlName="imageUrl"
          />
        </mat-form-field>
        <mat-error
          *ngIf="
            exerciseForm.controls?.imageUrl?.touched &&
            exerciseForm.controls?.imageUrl?.errors
          "
          ><div *ngIf="exerciseForm.controls?.imageUrl?.errors?.required">
            Image of the exercise is required.
          </div>
          <div *ngIf="exerciseForm.controls?.imageUrl?.errors?.pattern">
            The image url is not in the valid format..
          </div></mat-error
        >
        <mat-form-field appearance="outline">
          <input
            type="text"
            matInput
            placeholder="add url with video example of the exercise"
            formControlName="exampleUrl"
          />
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="included muscle groups"
            formControlName="muscleGroups"
            multiple
          >
            <mat-option
              *ngFor="let group of muscleGroups"
              value="{{ group }}"
              >{{ group }}</mat-option
            >
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-select
            placeholder="needed equipment"
            formControlName="equipment"
            multiple
          >
            <mat-option
              *ngFor="let equipmentName of neededEquipment"
              value="{{ equipmentName }}"
              >{{ equipmentName }}</mat-option
            >
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-button">
        <button type="submit" mat-raised-button color="primary">
          Edit Exercise
        </button>
        <button mat-raised-button color="primary" routerLink="/exercise/all">
          All Exercises
        </button>
      </div>
    </form>
  </mat-card>
</div>
