<mat-toolbar color="primary" class="navbar">
  <div class="right-content">
    <button
      mat-icon-button
      class="menu-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-flat-button routerLink="/home" color="primary">Street Workout </a>
  </div>
  <div class="left-content">
    <a mat-flat-button routerLink="/login" color="primary">Login</a>
    <a mat-flat-button routerLink="/register" color="primary">Register</a>
    <a mat-flat-button routerLink="/equipment-create" color="primary"
      >Add equipment</a
    >
    <a mat-flat-button routerLink="/exercise/create" color="primary"
      >Add exercise</a
    >
  </div>
</mat-toolbar>
