<mat-toolbar color="primary" class="navbar">
  <div class="right-content">
    <button
      mat-icon-button
      class="menu-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-flat-button routerLink="/home" color="primary">Street Workout </a>
  </div>
  <div class="left-content">
    <a mat-flat-button *ngIf="!isLoggedIn" routerLink="/login" color="primary"
      >Login</a
    >
    <a
      mat-flat-button
      *ngIf="!isLoggedIn"
      routerLink="/register"
      color="primary"
      >Register</a
    >
    <a
      mat-flat-button
      *ngIf="isLoggedIn"
      routerLink="/equipment-create"
      color="primary"
      >Add equipment</a
    >
    <a
      mat-flat-button
      *ngIf="isLoggedIn"
      routerLink="/exercise/create"
      color="primary"
      >Add exercise</a
    >
    <a mat-flat-button *ngIf="isLoggedIn" (click)="logout()" color="primary"
      >Logout</a
    >
  </div>
</mat-toolbar>
