<mat-card class="example-card" *ngIf="exerciseDetails">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>{{ exerciseDetails.name }}</mat-card-title>
    <mat-card-subtitle
      >Exercise level:
      {{ exerciseLevels[exerciseDetails.exerciseLevel] }}</mat-card-subtitle
    >
  </mat-card-header>
  <div class="image-container">
    <img
      mat-card-image
      src="{{ exerciseDetails?.imageUrl }}"
      alt="Photo of the exercise"
    />
  </div>
  <mat-card-content>
    <p>Exercsie description: {{ exerciseDetails.description }}</p>
    <p>Included Muscle Groups: {{ exerciseDetails.muscleGroups.join(", ") }}</p>
    <p>
      Equipmen needed:
      {{ equipment.join(", ") }}
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button routerLink="/exercise/all">All Exercises</button>
    <button mat-button (click)="editExercise()">Edit</button>
    <button mat-button (click)="deleteExercise()">Delete</button>
  </mat-card-actions>
</mat-card>
